<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Coffee and Wifi</title>
    {% block styles %}
        {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>
<div class="container" data-bs-theme="dark">
    <header class="d-flex justify-content-center py-3 border-bottom">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{{ url_for('homepage') }}" class="nav-link {% if page=='home' %}active{% endif %}">Home</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('cafes', _id=1) }}" class="nav-link {% if page=='cafes' %}active{% endif %}">Cafes</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('add') }}" class="nav-link {% if page=='add' %}active{% endif %}">Add Cafes</a>
        </li>
      </ul>
    </header>
</div>

<div class="container">
    {% block content %} {% endblock %}
</div>

<div class="container">
  <footer class="footer py-3 my-4">
    <p class="text-center text-body-secondary border-top">© 2024 Company, Inc</p>
  </footer>
</div>
</body>
</html>