
<footer class="border-top py-2 bg-light {% if home %}mt-0{% else %}mt-5{% endif %}">
    <div class="container px-4 px-lg-5">
      <ul class="nav justify-content-center">
            <li class="nav-item"><a href="https://www.instagram.com/the_deshpande/" class="nav-link">
                <img src="{{ url_for('static', filename='icons/icons8-instagram-50.png') }}"/>
            </a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/the-deshpande/" class="nav-link">
                <img src="{{ url_for('static', filename='icons/icons8-linkedin-50.png') }}"/>
            </a></li>
            <li class="nav-item"><a href="https://github.com/thedeshpande" class="nav-link">
                <img src="{{ url_for('static', filename='icons/icons8-github-50.png') }}"/>
            </a></li>
      </ul>
    </div>
</footer>


</body>
</html>