<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    {{ bootstrap.load_css() }}
</head>
<body>


<header class="d-flex justify-content-center py-3 border-bottom mb-5 py-2">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link {% if home %}active{% endif %}">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link {% if about %}active{% endif %}">About</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link {% if contact %}active{% endif %}">Contact</a></li>
        <li class="nav-item"><a href="{{ url_for('static', filename='Resume.pdf') }}" download class="nav-link">Resume</a></li>
      </ul>
</header>