{% with home=True %}
    {% include "header.html" %}
{% endwith %}


<div class="mb-0 px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Kaiwalya Deshpande</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae, debitis delectus dolorem eaque fuga modi quo sint unde vitae! Eligendi facere labore officia provident ratione. Aspernatur est quasi repellat.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="https://picsum.photos/700/500" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

{% with home=True %}
{% include "footer.html" %}
{% endwith %}