<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

<header class="container py-3 text-center border-bottom fs-2">
    <img src="{{ url_for('static', filename='img/green-tick.png') }}" alt="Green Tick" style="width: 50px;">
    My To-Do List
</header>

<div class="container py-3 text-center align-middle" style="height: 70vh">

    {% if tasks == [] %}
    {{ render_form(form,
            novalidate=True,
            form_type='horizontal',
            extra_classes='pb-3 border-bottom',
            button_style='dark',
            button_size='block',
    ) }}

    <img src="{{ url_for('static', filename='img/todo.jpg') }}" alt="TO DO" style="width: 1250px" class="py-3">

    {% else %}
    <form class="row g-3 border-bottom" action="{{ url_for('homepage') }}" method="POST">
      <div class="col-8">
          {{ form.task(class='form-control ') }}
      </div>
      <div class="col-3">
          {{ form.due_date(class='form-control') }}
      </div>
      <div class="col">
          {{ form.submit(class='btn btn-dark mb-3') }}
      </div>
    </form>

    <table class="table my-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Delete Task</th>
      <th scope="col">Task</th>
      <th scope="col">Due Date</th>
      <th scope="col">Finish Task</th>
    </tr>
  </thead>
    <tbody>
    {% for task in tasks %}
        {% if task.finished == True %}
        <tr class="table-active" >
        {% elif task.due_date < today %}
        <tr class="table-warning">
        {% else %}
        <tr>
        {% endif %}
            <th scope="row">{{ task['_id'] }}</th>
            <td><a href="{{ url_for('delete', _id=task['_id']) }}"><i class="bi bi-trash link-danger"></i></a></td>
            <td>{{ task['task'] }}</td>
            <td>{{ task['due_date'].date() }}</td>
            {% if task.finished == True %}
            <td>{{ task['finish_date'].date() }}</td>
            {% else %}
            <td><a href="{{ url_for('finish', _id=task['_id']) }}"><i class="bi bi-check-lg link-success"></i></a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% endif %}
</div>

<footer class="container py-3 text-center border-top">
    <div class="row">
        <div class="col-2 text-secondary">
            <div class="row">
                <i class="bi bi-c-circle">Kaiwalya Deshpande</i>
            </div>
            <div class="row ps-5">
                {{ today.date() }}
            </div>
        </div>

        <div class="col"></div>

        <h1 class="col">
            <a href="https://instagram.com/the_deshpande" target="_blank"><i class="bi bi-instagram link-dark"></i></a>
        </h1>

        <h1 class="col">
            <a href="https://github.com/thedeshpande" target="_blank"><i class="bi bi-github link-dark"></i></a>
        </h1>

        <h1 class="col btn-secondary">
            <a href="https://www.linkedin.com/in/the-deshpande/" target="_blank"><i class="bi bi-linkedin link-dark"></i></a>
        </h1>

    </div>
</footer>

</body>
</html>