<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter</title>
    {{ bootstrap.load_css() }}
</head>
<body>

<header class="container py-3 text-center border-bottom fs-2">
    Harry Potter Quiz
</header>

<div class="container text-center align-items-center mx-auto" style="height:75vh;">
    {% if correct != 3 %}
    <div class="row py-5">
        <div class="col fs-3">
            {% if correct == 1 %}
            You are correct
            {% else %}
            You are wrong
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <a href="{{ url_for('house') }}" class="btn btn-primary p-5">Guess the House?</a>
        </div>
        <div class="col">
            <a href="{{ url_for('spells') }}" class="btn btn-secondary p-5">Guess the spell?</a>
        </div>
    </div>
</div>

<footer class="container py-3 text-center border-top">
    @copyright Kaiwalya
</footer>

</body>
</html>
